<!DOCTYPE html>
<html lang="en">
<head>
  <title>Caesar Cipher</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <h1>Caesar Cipher</h1>
    <p>How it works:</p>
    <pre>
  Input plaintext
  Cipher is applied:
    will shift every character by
    some value (this is called the <mark>key</mark>)
      if key=1 then A becomes B
      if key=2 then A becomes C
      if key=3 then A becomes D and so on
  Output ciphertext
    </pre>

  <div class="row">

    <div class="col-sm-6">

      <form action="" method="POST">
          <label>Input Plaintext:</label>
          <textarea class="form-control" rows="5" name="plaintext" value="{{ request.form.plaintext }}"></textarea>
          <label>Select a KeyValue:</label>
          <select class="form-control" name="keyE" value="{{ request.form.keyE }}">
            <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option>
          </select>
          <br>
          <button type="submit" class="btn btn-success">Encrypt</button>
      </form>
      {% if encryptPost != None %}
        <br>
        <p class="encryptPost">{{ encryptPost }}</p>
        <br>
      {% endif %}
    </div>

    <div class="col-sm-6">
      <form role="form">
        <div class="form-group">
          <label for="comment">Input Ciphertext:</label>
          <textarea class="form-control" rows="5" id="ciphertext"></textarea>
        </div>
      </form>
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">KeyValue
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
        <button type="button" class="btn btn-danger">Decrypt</button>
    </div>
  <!--  <label>Output Ciphertext:</label> -->

  </div>

</div>

</body>
</html>
